{% extends "dashboard/base/index.html" %}

{% load static %}

{% block title %} Todos {% endblock %}

{% block subtitle %} Todos {% endblock %}

{% block content %}

<div class="container-fluid page__container">
    <div class="card document-card">
        
        <div class="row ml-2 mr-2 mb-2 mt-2">
            <div class="col-sm-12 document-table-space">
                <table class="table  w-full no-footer" role="grid">
                    <thead class="table-space-top-bottom">
                        <tr role="row">
                            <th>S.N</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todos in object_list %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ todos.user }}</td>
                            <td>{{ todos.title }}</td>
                            <td>{{ todos.status }}</td>
                            
                            
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                {% include 'dashboard/base/pagination.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}