{% extends 'todo/base/index.html' %}
{% block title %} Form {% endblock %}

{% block content %}

 <div class="header-bar">
<a href="{% url 'todo:todo' %}">&#8592; Back</a>
</div>
<div class="card-body">
    <form method="POST">
     {% csrf_token %}
            {{ form.as_p }}
        <button class="button" type="Submit"  class="btn btn-primary btn-animated">Submit</button>
    </form>

</div> 

{% comment %} <!-- Modal -->
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
            </div> {% endcomment %}

{% endblock %}